
@{
    ViewData["Title"] = "aboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="~/customer_index/black and white cat GIF by Real Food RN.gif" style="width: 130%; height: 60%; margin-bottom:250px" alt="Cute Cat GIF" />
    </div>
</body>



</html>
