@{
    ViewData["Title"] = "feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">Get In Touch With Us</h2>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <form method="post">
                <input type="text" placeholder="Enter Your Full Name" name="user_name" class="form-control my-2" />
                <textarea class="form-control my-2" placeholder="Enter Your Message" name="user_message"></textarea>
                <input type="submit" class="btn btn-warning btn-block" />
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7455.616473387786!2d19.95871475560167!3d50.06910154326378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b5b5035c807%3A0x47ed8e1e6f839630!2sGood%20Lood%20%E2%80%93%20lody%20rzemie%C5%9Blnicze!5e0!3m2!1sen!2spl!4v1750625117119!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <h6 class="text-success">@TempData["message"]</h6>
</div>